.page-hero {
    position: relative;
    background-image: url('../images/places-hero.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-white);
}

.page-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 1;
}

.page-hero .container {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 700px;
    margin: 0 auto;
}