/* General Footer Styling */
.site-footer {
    background-color: #1a1a1a; 
    color: #ffffff; 
    padding: 50px 0 0; 
    font-family: Arial, sans-serif;
}

/* Main Content Container */
.footer-content {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    justify-content: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px 40px;  
}

/* Footer Column Styling */
.footer-column {
    flex: 1; 
    padding-right: 30px;
    min-width: 200px; 
}

/* Column Titles Styling */
.column-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--text-white); 
}

/* Call Us Section Specific Styling */
.contact-us .contact-info {
    font-size: 16px;
    margin-bottom: 20px;
}
.contact-us .email-title {
    color: var(--action-button); 
    margin-bottom: 15px;
    margin-top: 0px; 
}

/* List Styling (About Us and Support) */
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-column ul li {
    margin-bottom: 10px;
}
.footer-column ul li a {
    color: var(--text-muted); 
    text-decoration: none;
    transition: color 0.5s;
}
.footer-column ul li a:hover {
    color: var(--action-button); 
}
/* Copyright and Social Links Bar */
.footer-bottom {
    background-color: #0d0d0d; 
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    max-width: 100%; 
    margin: 0 auto;
    border-top: 1px solid #333333;
}

.footer-bottom p {
    margin: 0;
    color: var(--text-muted);
    font-size: 17px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    color: #ffffff;
    font-size: 12px;
    margin-left: 8px;
    transition: color 0.3s;
}
/* ** Responsive Design (Media Queries) ** */
@media (max-width: 992px) {
    .footer-content {
        flex-wrap: wrap; 
    }
    .footer-column {
        flex: 1 1 50%; 
        margin-bottom: 30px;
        padding-right: 20px;
    }
    .payment-security {
        order: 4; 
    }
    .footer-bottom {
        flex-direction: column; 
        text-align: center;
    }
    .footer-bottom p {
        margin-bottom: 10px;
    }
    .social-links {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .footer-column {
        flex: 1 1 100%; 
    }
}